{% extends "../sub_base.html" %}
{% block title %}Zarejestruj Konto{% endblock %}
{% block sub_content %}


<form class="users-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
{% csrf_token %}
<h3 class="mb-2 font-weight-bold">Utwórz konto</h3>
{% if form.errors %}
<p>Proszę poprawić następujące błędy:</p>
{% for field in form %}
{% if field.errors %}
<div class="alert alert-primary" role="alert">
    {{ field.label }}: {{ field.errors|striptags }}
</div>
{% endif %}
{% endfor %}
{% endif %}

<label>{{ form.user_name.label }}<span class="text-muted small">
        (Wymagane)</span></label>
{{ form.user_name }}
<label>{{ form.email.label}}<span class="text-muted small">
        (Wymagane)</span></label>
{{ form.email }}
<label>{{ form.password.label}}<span class="text-muted mb-4">
        </span></label>
    <small class="form-text text-muted mb-4 small">
    (min. 8 znaków oraz 1 cyfra)
</small>
{{ form.password }}
<label>{{ form.password2.label}}<span class="text-muted small">
        (Wymagane)</span></label>
{{ form.password2 }}
<button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Zarejestruj się</button>
<p class="text-center">
    <a href="{% url "users:login" %}">Posiadasz już konto?</a>
</p>
</form>
{% endblock %}