{% extends "./sub_base.html" %}
{% block title %}Zaloguj sie{% endblock %}
{% block sub_content %}

<form class="users-form" action="{% url 'users:login' %}" method="post">
  {% csrf_token %}
  <h3 class="mb-4">Zaloguj się</h3>
  {% if form.errors %}
  <div class="alert alert-primary" role="alert">
    Błąd: nazwa użytkownika lub hasło są nieprawidłowe!
  </div>
  {% endif %}
  <label class="form-label">{{ form.username.label}}</label>
  {{ form.username}}
  <label class="form-label">Hasło</label>
  {{ form.password}}
  <div class="d-grid gap-2">
    <input type="hidden" name="next" value="{{ next }}">
    <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">Zaloguj się
    </button>
  </div>
  <div class="flex-column justify-content-center mx-auto pb-3">
    <div class="text-center"><a href="{% url "users:register" %}">Utwórz konto</a></div>
    <div class="text-center"><a href="{% url "users:pwdreset" %}">Zapomniałeś hasło?</a></div>
  </div>
</form>

{% endblock %}